<section class="bg-gradient-to-tr from-[#171727] to-[#382d68] h-screen">
    <div class="h-[calc(100vh)] flex flex-col justify-center items-center text-white">
        <div class="text-center justify-center items-center max-w-250 flex flex-col gap-2">
            <h1 class="text-4xl font-bold">Valor Actual Neto</h1>
            <p>
                Esta calculadora te permite calcular el Valor Actual Neto (VAN) de un
                proyecto o inversión. Solo necesitas ingresar una tasa de descuento, que
                representa el rendimiento mínimo esperado. El VAN te ayuda a determinar
                si un proyecto es rentable, ya que descuenta los flujos de caja futuros
                al valor presente.
            </p>
        </div>

        <div
            class="flex max-w-250 p-4 bg-gradient-to-tl from-white/20 to-[#2A224F]/50 backdrop-blur-md rounded-xl mt-4 gap-5">
            <div class="flex flex-col">
                <div class="flex flex-col w-full">
                    <!-- Inversión inicial-->
                    <div class="flex justify-between items-center w-full gap-2">
                        <label class="text-lg">Inversión Inicial:</label>
                        <div class="flex justify-between gap-1">
                            <input type="number" [(ngModel)]="inversionInicial" placeholder="Inversión Inicial"
                                class="border border-gray-300 rounded p-2" />
                            <select [(ngModel)]="moneda" class="border p-2 rounded border-none bg-gray-600">
                                <option value="$">$</option>
                                <option value="€">€</option>
                                <option value="S/">S/</option>
                            </select>
                        </div>
                    </div>

                    <!-- La tssa de descuento-->
                    <div class="flex gap-2 mt-4 justify-between">
                        <label class="text-lg">Tasa de descuento:</label>
                        <div class="flex gap-1">
                            <input type="number" [(ngModel)]="tasaDescuento" placeholder="Tasa de descuento"
                                class="border border-gray-300 rounded p-2" />
                            <span class="bg-gray-600 px-4 rounded-md flex justify-center items-center">%</span>
                        </div>
                    </div>

                    <!-- Este botón claculara -->
                    <div>
                        <button (click)="calcularVAN()"
                            class="bg-[#382d68] hover:bg-[#17172742] text-white font-bold py-2 px-4 rounded mt-4 w-full">
                            Calcular
                        </button>
                    </div>
                </div>

                <hr class="h-1 w-full my-4" />

                <!--Resultado-->
                <div class="flex flex-col gap-2 mt-4">
                    <div class="bg-[#201C37] p-4 rounded-md text-center items-center">
                        <h2 class="text-md text-gray-300">Valor actual neto (VAN)</h2>
                        <p class="text-2xl font-bold">{{ moneda }} {{ resultadoVan }}</p>
                    </div>
                </div>
            </div>
            ->
            <div class="w-120 h-[calc(40vh)] overflow-y-auto p-2">
                <div class="mb-2">
                    <h2 class="text-md">Flujos de caja:</h2>
                </div>
                <div class="flex justify-around items-center gap-1 mb-2 "
                    *ngFor="let flujo of flujosCaja; let i = index">
                    <span class="w-30 text-center bg-[#1f1939] p-2 rounded-l-md">Año {{ i + 1 }}</span>
                    <input type="number" [(ngModel)]="flujosCaja[i]" placeholder="Flujo de caja"
                        class="border border-gray-300 rounded p-2 w-full" />
                    <span class="w-10 text-center bg-[#1f1939] p-2 rounded-r-md">{{ moneda }}</span>

                    <button (click)="quitarFlujoCaja(i)"
                        class="bg-red-600 text-white px-2 rounded hover:bg-red-700 p-2 text-sm">
                        ✕
                    </button>

                </div>
                <button (click)="agregarFlujoCaja()"
                    class="bg-white/10 text-white rounded px-3 py-1 hover:bg-white/20 text-sm">
                    + Agregar año
                </button>

            </div>
        </div>
    </div>
</section>